<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title><%= pageTitle %> Online Devices</title>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
</head>
<body>
    

